---
layout: default
title: ideas
permalink: /ideas/
---
<h2>collections</h2>

<ul>
    <li><a href="/links/">links</a> // interesting papers, blogs, and videos</li>
    <li><a href="/quotes/">quotable</a> // (some of) my favorite quotes, poems, and words</li>
</ul>

<h2>writing</h2>

{% assign all_posts = site.essays | concat: site.notes %}
{% assign sorted_posts = all_posts | sort: 'date' | reverse %}
{% assign currentYear = "" %}

{% for post in sorted_posts %}
    {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if year != currentYear %}
        {% if currentYear != "" %}
            </ul>
        {% endif %}
        <h3>{{ year }}</h3>
        <ul>
        {% assign currentYear = year %}
    {% endif %}
    <li>
        {{ post.date | date: "%B %d" }} // <a href="{{ post.url }}">{{ post.title }}</a>
        // {% if post.path contains "essays" %} essay  {% elsif post.path contains "notes" %} notes {% endif %}
    </li>
{% endfor %}

{% if currentYear != "" %}
    </ul>
{% endif %}
