<footer class="site-footer h-card">
    <div class="wrapper" align="center">
        <div>
            <div id="custom-substack-embed"></div>
            <script>
  window.CustomSubstackWidget = {
    substackUrl: "arthgupta.substack.com",
    placeholder: "example@gmail.com",
    buttonText: "Subscribe",
    theme: "custom",
    colors: {
      primary: "#FFD6D6",
      input: "#FFFFFF",
      email: "#000000",
      text: "#000000",
    }
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
        </div>
        <br class="footer-line-break">
        <div>
                <span style="display: inline;"> © arth gupta 2023 / <a href="/about/">about</a> / <a href="/">home</a> / <a href="https://twitter.com/arthgupta">twitter</a>
                </span>
        </div>
    </div>
</footer>