/* Import EB Garamond font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

/* Apply EB Garamond font to the entire site */
body {
    font-family: "EB Garamond", serif;
    font-size: 18px;
}

/* Remove default box and border from blockquotes */
blockquote {
    padding: 0.8vh 0.8vw;
    margin: 0;
    color: #000000;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
}

.sharing-button {
    margin: 2px;
    padding: 0.6vh 0.6vw;
    border: 1px solid #000000;
    display: inline;
}

/* WORK // RESUME work-page-styling */

.work-page-styling {
    font-family: Helvetica;
    padding: 8px;
}

.quote {padding: 0.8vh 0.8vw;
        margin: 0;
        color: #000000;
        background-color: #f9f9f9;
        border-left: 4px solid #ccc;
    }