---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.site-header {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border-top: none;
    border-bottom: none;
    min-height: $spacing-unit * 1.865;
    // Positioning context for the mobile navigation icon
    position: relative;
    font-family: 'Inter', sans-serif;
  }

footer{
    padding: 15px;
}

  .a {
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

a:hover, a:focus {
    background-color: rgb(0, 0, 0); /* Background color on hover/focus */
    color: #ffffff; /* Change text color on hover/focus if needed for better readability */
    text-decoration: none; /* Optional: Keeps underline from appearing on hover */
}

.flex-container-image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}


/* Remove default box and border from blockquotes */
blockquote {
    padding: 0.8vh 0.8vw;
    margin: 0;
    color: #000000;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
}

.sharing-button {
    margin: 2px;
    padding: 0.6vh 0.6vw;
    border: 1px solid #000000;
    display: inline;
}

/* WORK // RESUME work-page-styling */

.work-page-styling {
    font-family: Helvetica;
    padding: 8px;
}

.quote {padding: 0.8vh 0.8vw;
        margin: 0;
        color: #000000;
        background-color: #f9f9f9;
        border-left: 4px solid #ccc;
    }

/* Styling for the twitter sharing button */
.sharing-button {
    display: inline-flex;
    background-color: #ffffff; /* Initial background color */
    color: black; /* Initial text color */
    padding: 5px 15px; /* Adjust padding for a smaller button */
    border-radius: 7px; /* Rounded corners */
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #a6a6a6; /* Optional: add a border for better visibility */
    margin: 10px 0; /* Space around the button */
}

.sharing-button a {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */
    display: inherit; /* Make the link cover the entire div */
    height: 100%;
    width: 100%;
}

.sharing-button:hover {
    background-color: #000000; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.sharing-button:hover a {
    color: white; /* Change link text color on hover */
}
